@import "tailwindcss";
@tailwind utilities;
@plugin "daisyui";

:root {
  --background: hsl(250, 24%, 19%);
  --foreground: hsl(251, 23%, 32%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
